.search-container{
    width:90%;
    max-width:500px;
    margin:20px auto;
    display:flex;
    gap:10px;
}

#search-input{
    flex:1;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

#search-btn{
    padding:10px 15px;
    border:none;
    background:var(--primary-color);
    color:white;
    border-radius:8px;
    cursor:pointer;
}

#search-btn:hover{
    opacity:0.9;
}
